:root {
  
  --f-size: 62.5%;
  
  --clr-primary0: hsl(152, 100%, 43.7%);
  --clr-primary1: hsl(0, 0%, 43.1%);
  --clr-primary2: hsl(61.9, 100%, 43.7%);

  --clr-bg-dark: hsl(0, 0%, 0%);
  --clr-bg-light: hsl(0, 0%, 100%);

  --clr-font-dark: hsl(0, 0%, 0%);
  --clr-font-light: hsl(0, 0%, 100%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: var(--f-size);
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--clr-bg-dark);
  letter-spacing: 1px;
}


/* utility classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

p, 
h3, 
span {
  color: var(--clr-font-light);
}

ul {
  list-style: none;
}

a, li, button {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-font-light);
}

img {
  max-inline-size: 100%;
}

svg, 
.svg-icon {
  inline-size: 7rem;
  aspect-ratio: 1;
  padding: 2px;
  background: var(--clr-primary0);
  border-radius: 5px;
}

/* header */

header {
  position: fixed;;
  inline-size: 100%;
  justify-content: space-around;
  padding-block: 3rem;
}

.box__rotates {
  inline-size: 5rem;
  block-size: 5rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.25rem 1rem;
  border: 3px solid;
  border-image: linear-gradient(to left, 
          var(--clr-primary0), 
          var(--clr-primary2)
          ) 1;  
  z-index: 100;
}

.box__rotates:hover {
  animation: Rotate 2s .5 linear;
}

.name__symbol {
  position: relative;
  inset-block-start: 1.5rem;
  inset-inline-end: 3.5rem;
  z-index: 100;
}


/* nav toggle start */

.nav-check {
  display: none;
}


/* nav toggle end */

nav {
  display: flex;
  align-items: center;
}

ul {
  gap: 4rem;
}

ul li {
  font-weight: 900;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, 
            var(--clr-primary0), 
            var(--clr-primary2)
  );  
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 350ms ease-in-out;
}

ul li:hover {
  background-size: 100% 2px;
}


/* About  */

.about--me {
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: clamp(1.2rem, calc(1vw + .8rem), 2.4rem);
}

.my__name {
  display: inline-block;
  animation: background-pan 3s linear infinite;
  background-image: linear-gradient(to right, 
              var(--clr-primary0), 
              var(--clr-primary2),
              var(--clr-primary0)
  );
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
}

.about--me > p {
  margin-block-start: 1rem;
  font-weight: 500;
  letter-spacing: .75px;
}


/* skills */

.my--skills {
  grid-template: 1fr 1fr / 1.25fr 2fr 1.25fr;
  gap: 5rem;
}

.my__skill {
  grid-area: 1 / 2 / 2 / 3;
}

:is(.my__skill, .my__tool) {
  gap: 2rem;
}

:is(.my__skill, .my__tool) > div {
  gap: 5rem;
}

:is(.my__skill, .my__tool) > div div {
  display: grid;
  gap: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.my__tool {
  grid-area: 2 / 2 / 3 / 3; 
}


/* my project  */

.my--projects {
  margin-top: 5rem;
  margin-left: 5rem;
}

.my__project {
  color: var(--clr-font-dark);
  background-image: url(./images/tic-tac-toe.png);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 30ch;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px var(--clr-primary1),
              -2px -2px 3px var(--clr-primary1);
  overflow: hidden;
  transition: transform 300ms ease;
}

.my__project:hover,
.my__project:focus-within {
  transform: scale(1.04);
}

.project-content {
  --padding: 1.5rem;
  gap: 3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.2) 90%,
    hsl(0 0% 0% / .3)
  );
  transform: translateY(75%);
  transition: transform 500ms ease 500ms;
}

.project-title {
  position: relative;
  max-width: max-content;
  font-size: 2.5rem;
}

.project-title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: -3px;
  inline-size: calc(100% + var(--padding));
  block-size: .3rem;
  background: linear-gradient(90deg, var(--clr-primary0), var(--clr-primary2));
  transform: scale(0);
  transition: transform 500ms ease;
  transform-origin: left;
}

.my__project:hover .project-title::after {
  transform: scale(1);
  transition-delay: 500ms;
}

.my__project:hover .project-content, 
.my__project:focus-within .project-content {
  transform: translateY(0%);
  transition-delay: 500ms;
}

.project-content > *:not(.project-title) {
  opacity: 0;
  transition: opacity 500ms linear 500ms;
}

.my__project:hover .project-content > *, 
.my__project:focus-within .project-content > * { 
  opacity: 1;
  transition-delay: 1000ms;
}

.tech-stack p {
  inline-size: 8rem;
  padding-block: .5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--clr-primary2);
  border-radius: 5px;
  text-align: center;
}

.links {
  gap: 2rem;
}

.links a {
  display: inline-block;
  padding: .75rem 1.5rem;
  font-size: 1.2rem;
  color: var(--clr-bg-light);
  border: 2px solid var(--clr-primary0); 
  border-radius: 5px;
}

.links a:hover {
  transform: translateX(1px);
}

/*
@media (max-width: 550px) {

  header {
    justify-content: space-between;
    padding-inline: 2rem;
  }

  nav {
    display: none;
  } 

  .nav-toggle {
    display: flex;
    align-items: center;
  }

  .nav-toggle span, 
  .nav-toggle span::after, 
  .nav-toggle span::before {
    display: block;
    inline-size: 3rem;
    block-size: 3px;
    background-color: var(--clr-bg-light);
  }

  .nav-toggle > span {
    position: absolute;
    right: 10%;
    z-index: 100;
  }

  .nav-toggle > span::before, 
  .nav-toggle > span::after {
    content: "";
    position: absolute;
    transform-origin: 50%;
  }

  .nav-toggle span::after {
    bottom: 7px;
    transition: transform 300ms ease-in-out;
  }

  .nav-toggle span::before {
    top: 7px;
    transition: transform 300ms ease-in-out;
  }

  .nav-check:checked ~ nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    inline-size: 100%;
    block-size: 100vh;
    background: linear-gradient(
          var(--clr-primary0),
          var(--clr-primary1)
    );
    z-index: 99;
  }

  .nav-check:checked ~ nav ul {
    position: absolute;
    top: 20%;
    right: 40%;
    flex-flow: column nowrap;
    gap: 3rem;
  }

  .nav-check:checked ~ .nav-toggle > span  {
    background: transparent;
  }
  
  .nav-check:checked ~ .nav-toggle > span::after {
    transform: rotate(45deg) translateX(7px);
  }

  .nav-check:checked ~ .nav-toggle > span::before {
    transform: rotate(-55deg) translateX(10px);
  }

  .project-title {
    z-index: 90;
  }
}
*/

/* animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
